*{
	margin: 0;
	padding: 0;
	outline: 0;
}
body{
	font-family: arial;
	font-size: 14px;
	line-height: 18px;
	color: #000;
}
.clear{
	overflow: hidden;
}

.templete {
	width: 960px;
	background-color: #ddd;
	margin: 0 auto;
}
.header {
	height: 85px;
	background-color: black;
	color: white;
}
.header h2{
	font-size: 40px;
	text-align: center;
	padding-top: 30px;
}
.navigation {
	background-color: #9B999a;
}
.navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.navigation ul li{
	display: block;
	float: left;
}
.navigation ul li a{
	display: block;
	background-color: #DFDFDF;
	text-decoration: none;
	padding: 5px 25px;
	font-size: 18px;
	color: #444;
	margin: 5px;
	font-weight: bold;
}

.content {
	background-color: white;
	margin-bottom: 15px;

}
.maincontent {
	width: 650px;
	padding: 10px;
	margin: 15px 15px 15px 0;
	background-color: #DFDFDF;
	float: left;
}
.maincontent p {
	font-size: 16px;
	line-height: 25px;
	margin-bottom: 15px;
}
.sidebar {
	width: 255px;
	background-color: #bbb9ba;
	float: right;
	margin-top: 15px;
	padding: 10px;
}
.same_sidebar{

}

.same_sidebar h2{
	background-color: #9b999a;
	padding: 10px;
	color: white;
	margin-bottom: 8px;
	border-bottom: 2px solid #555555;
}
.same_sidebar p{
	margin-bottom: 10px;
}
.footer {
	height: 90px;
	background-color: #555555;
}
.footer p {
	font-weight: 20px;
	text-align: center;
	color: white;
	padding-top: 30px; 
}
